.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar {
  /*background-color:#f2ebe0 !important;*/
}

body {
  margin:0;
  /*font-family:Lora;*/
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:left;
  background-color:#fff;
}

.clean-navbar .navbar-nav .nav-item {
  font-family:'Work Sans', sans-serif;
  color:rgb(125,125,125);
}

.clean-navbar .navbar-nav .nav-link {
  font-size:16px;;
}

.clean-block.clean-info.dark {
  background-color:#f2ebe0;
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
  font-family:"Work Sans", sans-serif !important;
  font-size:40px !important;
  color:#363639 !important;
  font-weight:900;
}

body, html {
  font-family:Lora, serif;
}

